body {
	background-color: black;
}

audio {
	position: fixed;
	display: block;
	top: 95%;
	right: 0px;
}

#title {
	position: fixed;
	display: block;
	left: 15%;
}

#fit-picture {
	position: fixed;
	display: block;
	top: 17%;
	left: 37%;
	width: 350px;
}

#hanasu-btn {
	position: fixed;
	display: block;
	top: 500px;
	left: 10%;
	width: 10%;
}

#yameru-btn {
	position: fixed;
	display: block;
	top: 500px;
	right: 10%;
	width: 10%;
}
